---
import SubHeader from '@components/SubHeader.astro';
import dudraPosterImg from '@images/dudra-poster.jpg';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="Dudra">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <SubHeader title="teachings events" link="/teachings" />
    <div class="md:px-10">
      <header class="mb-10">
        <p class="mx-5 mb-1"><strong>Date:</strong> 27th of September 2024</p>
        <h1 class="flex flex-col rounded-lg bg-neutral-1 p-5">
          <span class="text-xl md:text-2xl">Basic Knowledge of the Subject & Object of the Mind</span>
          <span class="my-2 text-lg font-bold md:text-xl">Dudra</span>
          <span class="text-2xl font-bold md:text-3xl">The collections of the basic knowledge of Sutra, Tantra, and
            Dzogchen
          </span>
        </h1>
      </header>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={dudraPosterImg} alt="The Lamp" />
          </figure>
        </aside>
        <article class="c-neutral-6 md:col-span-2">
          <div class="info">
            <ul class="border-l-5">
              <li class="font-bold">
                starting Sep 27, 2024 11:00 PM Eastern Time (US and Canada),
                8:30 am, IST
              </li>
              <li>Sessions - Every week on Fri, until complete.</li>
              <li>Recommended donation is $15 / session</li>
            </ul>
          </div>
          <p class="py-10 text-center text-2xl c-neutral-6">***</p>
          <form action="">
            [form content]
          </form>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply mt-2 font-bold;
  }

  article p {
    @apply mb-3;
  }

  li {
    @apply ml-5;
  }
</style>
