---
import DefaultLayout from '../layouts/Default.astro';
---

<DefaultLayout title="About us">
  <div class="text-center">
    <h1 class="text-5xl font-bold">About us</h1>
    <p class="p-10 text-xl"></p>
  </div>
</DefaultLayout>
