---
import DefaultLayout from '../layouts/Default.astro';
---

<DefaultLayout title="Contact">
  <div class="text-center">
    <h1 class="text-5xl font-bold">Contact</h1>
    <p class="p-10 text-xl">
      Please contact us through Email<br />
      boncenter.akar@gmail.com
    </p>
  </div></DefaultLayout
>
