---
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout title="Contact">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="text-center">
      <h1 class="text-4xl font-medium">Contact</h1>
      <p class="p-10 text-xl">
        Please contact us through Email<br />
        info@akarboncenter.org
      </p>
    </div>
  </main>
</DefaultLayout>
