---
import DefaultLayout from '@layouts/Default.astro';

const paymentUrl = 'https://www.paypal.com/cgi-bin/webscr';
const payPalVars = {
  cmd: '_donations',
  business: 'geshetenzingelek@gmail.com',
  item_name: 'Support A-kar Bon Center',
  currency_code: 'USD',
  amount: '',
  no_note: '1',
  no_shipping: '1',
  notify_url: '',
  return: '',
  cancel_return: '',
};
---

<DefaultLayout title="Donate">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="text-center">
      <h1 class="text-4xl font-medium">Donate</h1>
      <p class="p-10 text-2xl">
        Please donate to support our mission to benefit all sentient beings
      </p>
      <form action={paymentUrl} method="post">
        {Object.entries(payPalVars).map(([key, value]) => (
          <input type="hidden" name={key} value={value} />
        ))}
        <input class="wpedon_paypalbuttonimage" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Make your payments with PayPal. It is free, secure, effective." style="border: none;" />
        <img alt="Donate" style="border:none;display:none;" src="https://www.paypal.com/EN_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </main>
</DefaultLayout>
