---
import DefaultLayout from '../layouts/Default.astro';
---

<DefaultLayout title="Welcome">
  <main class="text-center">
    <h1>Welcome to Akar Bon Center</h1>
    <p>
      THE SECRET INSTRUCTIONS OF THE SIX LAMPS OF THE DZOGCHEN ZHANG ZHUNG
      NYENGYÜ The Second Lamp - The Lamp of the Flesh Heart starting 19th of
      November (Tuesday)
    </p>
  </main>
</DefaultLayout>
