---
import menritrizinImg from '@images/menri-trizin33.jpg';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <div class="header">
      <a href="/about-us/" class="flex items-center gap-2 c-neutral-6">
        <div class="i-mdi-arrow-left-thin text-3xl"></div> back
      </a>
      <h1 class="text-4xl c-neutral-6">About us</h1>
    </div>
    <div class="px-10">
      <h2 class="mb-5 border-b-1 border-b-neutral-3 pb-2 text-2xl font-medium">
        The 33rd Menri Trizin Lungtok Tenpai Nyima Rinpoche
      </h2>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={menritrizinImg} alt=" The 33rd Menri Trizin Lungtok Tenpai Nyima Rinpoche" />
          </figure>
        </aside>
        <article class="md:col-span-2">
          <p>
            In this world, the crown ornament of Bön, the chief teacher of the White Hats, the 33rd Gyalwa Menri Trizin was Lungtok Tenpai Nyima Palzangpo Rinpoche. He was born on the fifteenth day of the fifth month of the Earth Snake year of 1929, in lower Amdo in Sharkhok of the family Jongdong Tshang. His father was Jongdong Gyalo and his mother was Barongza Tsomo. He was the second born son. By the time at the age of seven, he went to the Kyongtshang Monastery, first learning reading and reciting prayers, then gradually the cycle of yidam practice and so forth, and the daily chanted liturgies, becoming very skilled.
          </p>
          <p>
            At the age of thirteen, he studied reading, melodies, and chanting, horns, drums, and cymbals and so on. At the Nangzhig Monastery in Amdo, he received the ngöndro teaching from the sublime Sherab Tendzin. He completed the ngöndro three times. At the Gamal Monastery, the master Sherab Phuntshog, based on an excellent dream about Lungtok Tenpai Nyima and auspicious circumstances and so forth, gave him the name Sherab Tshulthrim.
          </p>
          <p>
            At the age of seventeen, on the Birthday ceremony for Nyamed Sherab Gyaltsen, in the presence of the Kyong Tshang Lama Sherab Tenpai Gyaltsen, he received novice monk vows and received the name Sherab Namdak. Under the venerable Horwa lineage Drungrampa Tendzin Lotro Gyasto, he thoroughly studied grammar, spelling, etymology, poetry, astrology, astronomy, philosophy, collected topics, and logic as well as the stages of the vehicles, the grounds and paths, paramitas and so forth.
          </p>
          <p>
            At the age of twenty-five, after passing examinations based on the six volumes of the treatises of the Yungdrung Bön tradition, he was given the highest academic degree of Geshe. Then he went to Gyalrong where he had two copies printed from woodblocks of the Bön Canon which he offered to Kyongtshang Monastery. He also bought books on the Ten Deeds, Twelve ritual cycles, and the Khamchen Tönpa Shenrab scriptures to repay the kindness of his parents and placed them as a support in his father Jongdong’s shrine room.
          </p>
          <p>
            At the age of twenty-eight, he received many empowerments and transmissions from Alak Nangsel Namkha Gyaltshen. Then he went to Yungdrung Ling Monastery and received the novice monk vows according to that monastery’s tradition from Lamlha Ponlob and received the name Sangye Tendzin. Then he went to Tashi Menri Monastery and met the 30th Menri Trizin Tenpa Lodro and received the empowerments and transmissions of the four cycles of Zhang Zhung Nyengyu, Nyengyu Korzhi. He also went to the Geluk Drepung Gomang Monastery where with the abbot of Dowa and Gen Jinpa Gyatso. he studied logic, philosophy, theory, grounds and paths, paramitas, and so forth, and through debate on scriptures and reasoning, reached complete certainty.
          </p>
          <p>
            At the age of 31, during the uprising in Lhasa, he and his retinue went in exile to Nepal. During this time in Nepal, on his way to India, he visited many Bön monasteries like Lo chumigyatsa, Ludrag, Dzongsarpa and so forth, staying with lamas and receiving many empowerments and transmissions. At that time, he borrowed many priceless scriptures and had them reprinted in Delhi. All of these texts were distributed to many Western countries, in libraries and universities.
          </p>
          <p>
            At the age of 33, he was invited by Professor David Snellgrove to teach at London University. There he taught the subjects of Tibetan language and Bön culture. During his stay of three years he also learned English. At that time, he met with Pope John Paul VI, discussing fundamental mutual religious principles.
          </p>
          <p>
            In 1960, he returned to India. He was appointed by H.H. the 14th Dalai Lama as a teacher in the first school for Tibetan exiles in Mussoorie.
          </p>
          <p>
            In 1967, his friend Professor Per Kvaerne invited him to research and teach at the University of Oslo in Norway.
          </p>
          <p>
            In 1968, in Dolanji, at the request of the abbot of Yungdrung Ling monastery, Sherab Tenpai Gyaltsen Rinpoche, he assumed the role of Yongdzin. Along with Lopon Tendzin Namdak Rinpoche  and so forth, and many lamas and monks and Bön people, a conference was held where they discussed the way by which to select the 33rd Menri Trizin. Many Lamas and Geshes names were gathered and rolled together. By the prophecies and signs of the Bön protectors and guardians of the teachings, the exalted glorious golden throne of Menri of the second Buddha, Nyamed Sherab Gyaltsen, was appointed to Sangye Tendzin. On the morning of March 4, he received the complete vows of a fully ordained monk from the Abbot of Yungdrung Ling and the Abbot of Tsedruk Monastery. Around eleven o’clock that morning, he was enthroned on the golden throne as the fearless lion, the 33rd Menri Trizin, holder of the teachings of Yungdrung Bön, and was given the name Lungtok Tenpai Nyima Palzangpo.
          </p>
          <p>
            In 1970, along with Yongdzin Rinpoche, they built the Palshenten Menri Ling Monastery in Dolanji. The inner and outer temples and shrines were built. All of the uncorrupted succession of excellent traditions of the past were restored and maintained.
          </p>
          <p>
            In 1975, he established a new day school called the Central School for Tibetan in Dolanji.
          </p>
          <p>
            In 1978, he established the Yungdrung Bön Dialectic School. Trizin Rinpoche took the responsibility of administration, and Yongdzin Rinpoche was responsible for teaching the students. Arrangements were determined to initiate the teaching and study of the extraordinary Sutra, Tantra, and Dzogchen and the common sciences concluding with the bestowal of the degree of Geshe.
          </p>
          <p>
            In 1987, he helped establish the department of Yungdrung Bön at the Central Institute of Higher Tibetan studies in Varanasi.
          </p>
          <p>
            In 1988, he invited H.H. The Dalai Lama to Menri Monastery. When he presented the Bön Dialectic School’s results, the Dalai Lama seriously examined and was very pleased. He recognized that their training was perfect and expressed that he wanted to sign their degrees and the Geshes also accepted. Also in that year he established the Bön Children Home.
          </p>
          <p>
            In 1992, in the New Year, on the day of Nyamed Sherab Gyaltsen’s birthday, he enthroned Yangton Geshe Trinlay Nyima Rinpoche as the head teacher of Pal Shenten Menri Ling.
          </p>
          <p>
            In 1994, His Holiness went for his first return visit to Tibet and went to Tashi Menri Ling and sat on Nyamed Sherab Gyaltsen’s golden throne.
          </p>
          <p>
            In 2001, he established the nunnery Redna Menling south of Dolanji.
          </p>
          <p>
            In 2005, he established the Sang Ngag Gomdrub Ling which is presently a place of practice for lay practitioners.
          </p>
          <p>
            In 2007, construction of the Yundrung Bön Library at Palshenten Menri Ling was completed.
          <p>
            In 2011, His Holiness initiated the creation of the Yungdrung Bön website.
          </p>
          </p>
          <p>
            In 2014, he established the medical school of Sorig Bumzhi at Menri Ling.
          </p>
          <p>
            In 2017, at the age of 89, in the year of the bird on the twenty-fourth day of the seventh lunar month, September, 14, at 6:25 in the evening, at the lama residence of Palshenten Menri Ling, in the realization of the expanse of reality, he entered the sublime immoveable state of Thugdam. Three days before he attained nirvana, he met with all the students of the Dolanji School. The next day he met with the Tibetan people of Dolanji to bless them. On the morning of the 14th, before emerging beyond the conceptual realm, he met with all the lamas, monks, and Geshes.
          </p>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  .header {
    @apply bg-gradient-to-l from-neutral-2 mx-10 mb-10 flex items-center justify-between rounded-b-md font-medium px-5 py-3;
  }

  p {
    @apply mb-3;
  }
</style>
