---
import lopon2Img from '@images/lopon2.jpg';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <div class="header">
      <a href="/about-us/" class="flex items-center gap-2 c-neutral-6">
        <div class="i-mdi-arrow-left-thin text-3xl"></div> back
      </a>
      <h1 class="text-4xl c-neutral-6">About us</h1>
    </div>
    <div class="px-10">
      <h2 class="mb-5 border-b-1 border-b-neutral-3 pb-2 text-2xl font-medium">
        Menri Yongdzin Rinpoche
      </h2>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={lopon2Img} alt="Menri Yongdzin Rinpoche" />
          </figure>
        </aside>
        <article class="md:col-span-2">
          <p>
            The Menri Lopon Yongdzin Tendzin Namdak Rinpoche was born in 1926
            with wonderful signs in the kingdom of Mije, in the village of
            Khamnyin in the Khyunkar region of Kham. His father was Drewo Pagsam
            and his mother was Dongza Gachung. At the age of eight, he learned
            to read and write from his uncle who was an umdze. At the age of
            eleven, from his uncle Tshering Yangpel and grandfather Lhazo U, he
            learned thangka painting.
          </p>
          <p>
            Then, the great master Zödpa Gyaltsen Rinpoche felt that in the
            future, Tendzin Namdak would be a master of the teachings of
            Yungdrung Bön, so everyday he gave ablutions of purification and he
            taught him the biographies of past Dzogchen masters.
          </p>
          <p>
            Then, at the age of fifteen, Tendzin Namdak felt renunciation for
            his village, friends, possessions, and so forth, wanting to follow
            the lives of the past Dzogchen masters, living as they did. At the
            same time, the Yundrung Ling construction of one-hundred pillars
            needed painters of deities, so he went to the monastery and worked
            on the project with artists until the work was finished. At that
            time, from the former head teacher Tsharong and Sherab Gyaltsen, he
            received many empowerments, oral transmissions, and instructions.
            Especially from the Abbot Zangyal, he studied logic and so forth.
          </p>
          <p>
            At the age of seventeen, he went to Menri monastery and from the
            representative of the Abbot, Tshagpe Gelong and Sönam Rinchen and so
            forth he received novice monk vows. Then, he, Gyegè Sherab Sengè,
            and Sherab Tshultrim went on pilgrimage to Mt. Kailash in Nepal.
            Upon return, he went to Yungdrung Ling where he learned dudra and
            astrology from the new head teacher.
          </p>
          <p>
            From the age of nineteen, he stayed with Yongdzin Tshultrim Gyaltsen
            for five years. He studied astrology, grammar, poetry, melodies,
            orthography, making mandalas, and the singing of different rituals.
            He also received instruction on the commentaries of the Treasury,
            the stages and paths, and so forth. Furthermore, he trained in the
            accumulation of the ngöndro, the direct introduction to the natural
            state, and stayed in the forty-nine day dark meditation.
          </p>
          <p>
            In 1948, he went to Menri Monastery and joined the dialectic school.
            From Horlob Sangye Tenzdin, he learned collected topics, reasoning,
            and cognition and knowledge, valid cognition, prajnaparamita,
            commentaries on the stages of the vehicles, middle way, cosmology,
            monastic discipline, Mother Tantra and so forth, cycles of Mantra,
            the oral and experiential transmissions of Zhang Zhung Nyengyud, and
            the vital points and so forth of the Dzogchen traditions, reaching
            the point of certainty.
          </p>
          <p>
            In 1952, at the age of twenty-seven, Yongdzin Rinpoche and Yonten
            Lhundrub both earned the degree of Geshe after examination of
            debating in the middle of a vast assembly of many high level,
            learned teachers. Then he was enthroned as the Menri Ponlob, the
            principal teacher at Menri. From Nyima Wangyal he received Drangsong
            full monk vows. Furthermore, from the former Kharnè Gyaltshab
            Yungdrung Gyaltsen, Tenpa Lotrö, Nyima Wangyal, Mushen Dzamling
            Rinpoche and so forth, he received all of the empowerments of the
            outer, inner, and secret Bön without exception, becoming a master of
            the teachings of the three secrets. Then, for many years, he taught
            Sutra, Tantra, and Dzogchen as well as the sciences, turning the
            wheel of Bön, spreading the teaching of Tönpa Shenrab in all
            directions, releasing the mindstreams of thousands of students.
          </p>
          <p>
            In the wood sheep year, his student Sherab Lotrö was enthroned as
            the abbot and the next year, Tshulthrim Wangden was enthroned as the
            head teacher. The following year, 1959, at the time of the Tibetan
            revolution, under difficult and dangerous conditions, he concealed
            the priceless stupa of Nyamed Sherab Gyaltsen, relics, and the
            precious Bön Sutra, Tantra, and Dzogchen scriptures and took them to
            India.
          </p>
          <p>
            In 1959, he went to England for three years where he taught Tibetan
            history and learned English. In 1964, he came back to India and went
            to Mustang where he borrowed many Bön texts and had them published,
            sending them to the libraries of many countries of the east and
            west. In 1967, he purchased land in the northern India state of
            Himachal in Dolanji, forming a new settlement to bring together all
            the Bön people.
          </p>
          <p>
            In 1969, Yongdzin Rinpoche was given principal responsibility as the
            Yungdrung Ling Abbot by Sherab Tenpai Gyaltsen. Yongdzin Rinpoche
            and Sangye Tenzin and so forth all discussed how to select the 33rd
            Menri Trizin. Then, Yongdzin Rinpoche and the 33rd Menri Trizin
            built Palshenten Menri Ling, re-establishing and preserving the
            activities of the Bön teachings in exile.
          </p>
          <p>
            Yongdzin Rinpoche taught theory and practice to the community of the
            monastery daily. In 1978, plans were settled and he along with Menri
            Trizin established a new Yungdrung Bön Dialectic School. Then for a
            decade he taught the students Sutra, Tantra, Dzogchen, and the
            sciences at the monastery, firmly establishing these subjects.
          </p>
          <p>
            In 1984, to many lamas, tulkus, scholars, and all of the Bön
            Dialectic students, Yongdzin Rinpoche gave the outer, inner, and
            secret initiation of the yidam and empowerment, oral transmission,
            and instructions of the tantras of Yungdrung Bön to many thousands
            of fortunate students.
          </p>
          <p>
            In 1986, the first group of six students passed the highest
            examinations and earned the degree of Geshe of Palshenten Menri Ling
            and henceforth until now, hundreds have earned the degree of Geshe.
          </p>
          <p>
            In 1987, for the teachings to remain in the future and so forth, he
            looked to build a monastery in Nepal near the Phagpa Zhingkün stupa.
            He started to build the new monastery and with the help of the gods
            and protectors and favorable conditions, the outside, inside, and
            all of the statues were completely finished swiftly. From the
            especially sublime significance of this dependent arising,
            accordingly, the monastery was named after the place of Tönpa
            Shenrab, Triten Norbutse.
          </p>
          <p>
            In 1992, the Yangal lineage Geshe Trinlè Nyima was enthroned as the
            new preceptor at Menri and also in that year Yongdzin Rinpoche
            bought two volumes of the Yungdrung Bön canon and brought them to
            India and Nepal, and for the first time the Bön canon was in both
            places.
          </p>
          <p>
            In 1994, at Triten Norbutse he conducted consecration rituals for
            the monastery, temples, and shrines and at that time the 33rd Trizin
            was invited and the outer, inner, and secret mandala of the yidam
            was opened and the consecration was done. At that monastery, a new
            practice center of the Atri, Dzogchen, and Zhang Zhung Nyengyud and
            new dialectic school teaching Gabgugor, the treasury, cosmology,
            grounds and paths, and the sciences was established.
          </p>
          <p>
            In 1996, the Jeru lineage Geshe Tenpa Yungdrung was enthroned as the
            preceptor at Triten Norbutse. At that monastery in 1998, the great
            accomplishment of the sacred medicine of called Odzer Khyilwa was
            performed over the course of fifteen days by the assembly of monks.
            After that, Yongdzin Rinpoche gave the initiation of Zhitro Peaceful
            and Wrathful deities and the initiation of the Odzer Khyilwa medical
            text. Then in that year, along with the Bön Research Center of
            Japan, “The Mandalas of Yungdrung Bön” and “Bön Stupa” was
            published. The outer, inner and secret Yidams were painted and the
            Tengyur Chenmo was catalogued.
          </p>
          <p>
            In 2001, the head teacher Tenpa Yungdrung was enthroned as the abbot
            of Triten Norbutse. Also, six students passed the highest
            examinations and received the degree of Geshe. Then until this day,
            hundreds of students have earned the degrees of Geshe and Shen Yogi.
          </p>
          <p>
            In 2002, Geshe Tshulthrim Tendzin was enthroned as the abbot of the
            meditation school of Triten Norbutse. In 2004, Geshe Tshangpa Tenzin
            was enthroned as the chief teacher of Triten Norbutse.
          </p>
          <p>
            In 2005, Triten Norbutse celebrated the eightieth birthday of
            Yongdzin Rinpoche. Also that year, Shenten Dargyeling was
            established in France where each year there is a summer retreat, and
            in the winter and spring, instructions, transmissions, and
            empowerments for many eastern and western people.
          </p>
          <p>
            In 2012, Triten Norbutse celebrated its twenty-fifth year
            anniversary. Also, the second Odzer Khyilwa sacred medicine
            accomplishment was performed. Yongdzin Rinpoche bestowed the Zhitro
            and Three Medicines initiation.
          </p>
          <p>
            In 2014, on the occasion of the celebration of his ninetieth
            birthday, to the many gathered at Triten Norbutse, for three days
            Yongdzin Rinpoche bestowed the four empowerments of the Kunbum
            Goched.
          </p>
          <p>
            In 2016, for Yongdzin Rinpoche who has from the time of childhood
            until the present, been a holder, protector, and propagator of the
            Bön teachings, especially as the precious teacher, who raised the
            Bön religion up when it was collapsing, connecting it when it was
            split, Bön people from all over the world offered an extensive
            longevity ceremony at the three monasteries and Triten Norbutse. At
            that time, Yongdzin Rinpoche bestowed the initiation of the
            Longevity Practice of Dranpa and the transmission and teaching of
            the Praise of the Mantra of the Loving Mother.
          </p>
          <p>
            In 2015, at the time the 33rd Menri Trizin’s health was declining,
            Yongdzin held healing ceremonies and stability of life prayers,
            giving guidance on healing medicines and ritual offerings.
          </p>
          <p>
            In 2017, at the time of the 33rd Menri Trizin’s mind dissolved into
            the nature of reality, under the guidance and instruction of
            Yongzdin Rinpoche, the Rainbow Tent Transference was performed,
            aspiration prayers were made, the memorial service for the deceased
            and funeral pyre ceremony were conducted, and the process of the day
            of handling the remains was completed.
          </p>
          <p>
            Furthermore, many Bön scriptures were translated into other
            languages and in this way the teachings of Bön spread to many
            countries. For nearly seven decades, Yongdzin Rinpoche has initiated
            activities for the benefit of the teachings and beings of the
            present and future, granting teachings to countless students. Until
            the present, he has elucidated the meaning and written more than
            twenty volumes of books in detail on the Bön teachings of Sutra,
            Tantra, and Dzogchen, the history of the royal lineage, and the
            explanation of the arts and so forth. His books that explain the
            meaning of the precious teachings have been published in English and
            other languages.
          </p>
          <p>
            Rinpoche is not occupied with power and fame, rather than sitting
            like a king he would rather be surrounded by books. He lives humbly,
            content with few desires like the Dzogchen masters of the past,
            remaining free and unwavering. Although he is in his nineties,
            without concern for hardship, without rest, each day he elucidates
            the teachings for monks and lay people, practicing, learning, and
            meditating. Without distraction and hindrances, he pursues the path
            of scriptural reasoning, reading the texts and arranging notes on
            the essential points of the scriptures and so forth, working like a
            physician for the sole benefit of the teachings and beings.
          </p>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  .header {
    @apply bg-gradient-to-l from-neutral-2 mx-10 mb-10 flex items-center justify-between rounded-b-md font-medium px-5 py-3;
  }

  p {
    @apply mb-3;
  }
</style>
