---
import tashiMenri2Img from '@images/tashi-menri-dolanji3.jpg';
import tashiManriLingImg from '@images/tashi-menri-ling.jpg';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <div class="header">
      <a href="/about-us/" class="flex items-center gap-2 c-neutral-6">
        <div class="i-mdi-arrow-left-thin text-3xl"></div> back
      </a>
      <h1 class="text-4xl c-neutral-6">About us</h1>
    </div>
    <div class="px-10">
      <h2 class="mb-5 border-b-1 border-b-neutral-3 pb-2 text-2xl font-medium">
        Tashi Menri Monastery
      </h2>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={tashiMenri2Img} class="h-30 object-cover object-center" alt="Tashi Menri Monastery" />
          </figure>
        </aside>
        <article class="md:col-span-2">
           
            <Image src={tashiManriLingImg} class="mb-5" alt="Tashi Menri Ling" />
        
          <p>
            In the Land of Snow, the denomination of the Tibetan ancestral tradition of the White Hat Yungdrung Bön, of all the monastic centers is the great monastic center of Tashi Menri Ling. One may ask who founded Menri Ling?  Among the many synonymous outer, inner, and secret names, the most well known name of his is Nyamed Sherab Gyaltsen (1356-1415). This great master was born in the eastern direction of Tibet in Gyalrong, of which the king was Chuchen Rabten of Ngari. Amidst a great gathering at the Yungdrung protector god temple at the monastery of the village of Lhade Thegkhyog village, in 1356, the Male Fire Monkey year, at the fortunate time in the first month of  Spring on the fifth day, with the mandala of major and minor marks and to the sounds of  joy and splendor of the gathering of beings. 
          </p>
          <p>
            From a very young age, Je Rinpoche was loving and had a pure, compassionate mind. He automatically without being taught knew the thirty letters of the alphabet, and was endowed with excellent signs beyond description. When he was ten, he felt deep renunciation and he took novice vows in the presence the great master, the Cha Lama Yungdrung Gyaltsen. He kept the root and branch vows like the pupils of his eyes. At that time, he completely learned the outer, inner, and secret ways of making torma, prayer melodies, sacred dance, making mandalas, playing cymbals and so forth.
          </p>
          <p>
            In the region of the King of Dru clan, at the great dialectic school of Yeru Lhundrub Wensakha, he shined and blazed purely, becoming famous for his debate of philosophy. Yeru especially had the renowned eighteenth abbot Khaydrub Rinchen Lotrö, whom he had a longing to meet. Although Je Rinpoche wanted to go to Tsang, he was diverted and was unable to get there. Khaydrub Rinchen Lotrö arrived at Lhundrub Wensa and Je Rinpoche obtained the heart essence of teachings from him in the way of one vase filling another. At the same time, from Drogon Lotrö Gyaltshen (1198-1263) he learned the Compendium of Valid Cognition and A Zha lineage discriminating valid cognition and logic and so forth, as well as the root texts and commentaries of the stages of the vehicles and systems of philosophy. 
          </p>
          <p>
            After that, he learned each division of Vinaya(monastic discipline), Abhidharma, Madhyamaka (Middle Way), and Pranjaparamita, along with the cycles of the outer vehicles of dialectics, the Tsagyud Senthub, Hidden Dzogchen together with the Inner Mantra Cycle of the Mind, and so forth, learning all of the outer, inner, and secret doors of Bön scriptural traditions completely to perfection. 
          </p>
          <p>
            At the age of thirty-one at Gung Thrang, Sherab Gyaltsen took full Gelong Dransong monk vows from the Abbot Tshultrim Yeshe and became the Yongdzin of Zurzhed at Wensakha. Then eventually he became the Gyaltheb lama of Lhundrub Wensaka and took full responsibility of the monastery for many years. Previously, one time he had promised to meet his mother and father back at his native land of Gyalrong. On his way there, he was deeply saddened when he heard the terrible news that the disaster of a flood had destroyed Lhundrub Wensakha. He received a prophecy from the Supreme Mother Sidpa Gyalmo that his teaching would flourish in upper central Tsang, so he went there. He nurtured all his disciples and patrons, always giving the Bön teachings that ripen and liberate. 
          </p>
          <p>
            In the Wood Bird year of 1405, when he was fifty years old, at the base of the holy Mt. Menri, Sherab Gyaltsen established and built the glorious Tashi Menri Ling by way of miraculous powers. From the inner ritual prayer for Nyamed Sherab Gyaltsen it says, “By the worker and teacher, where they placed the great stone altars on the ground, twelve monastic units and sixty monk’s quarters and so forth instantly, naturally arose, peerlessly complete.” In accordance with this statement, where he placed the great stone altars on the ground became one monastic unit and where he placed the white pebbles all around on the ground became a division of monk’s quarters, debate hall, and a place for taking pledges. His fame resounded like the sound of a drum in all directions and among the monks, especially for his logic. By the power of his fame, disciples from upper and lower parts assembled like bees to a lotus. 
          </p>
          <p>
            Before, Lhundrub Wensakha was divided into different sections of traditions, so like that, at Menri there were four sections of Palden Ling Todpa, Palden Ling Kedpa, Palden Ling Zurpa, Palden Ling Medpa. Also there were four divided sections of monastic communities. In the four directions within the monastery where stone altars were piled, no male or female lay people were allowed to go. Without monastic vows, people were not permitted to sit in the monastery. If monastic vows were taken, then the upper yellow robe was not allowed to be used as a sitting mat, and all the outer, inner, and secret rules of monastic discipline established by Tönpa Shenrab were followed by the ocean-like gathering of monks. It did not matter if a monk was famous, insignificant, untamed, and so forth, regardless of family or status, monks sat according to how long they had been a monk. The custom was that on the days of the waxing phase of the moon, there was teaching, study, and learning and on the days of the waning phase of the moon there was intensive retreat. All the great assembly of monks fully learned both the words and meaning. 
          </p>
          <p>
            Through establishing the teaching activities for beings, any explanations and commentaries of the outer, inner, and secret doors of Bön were given. From out of these, the most famous was Je Rinpoche’s compositions of the five types of great treatises of the Magic Lamps called, the Magic Lamp of the Thorough Analysis of Valid Cognition, the Magic Lamp of the Thorough Analysis of the Stages and Paths, the Magic Lamp of the Thorough Analysis of Abhidharma Commentary, the Magic Lamp of the Thorough Analysis of Vinaya, and the Magic Lamp of the Thorough Analysis of the Secret Meaning. All the great and small holders of the Bön tradition accept these five texts in their debate schools as the best doctrines. 
          </p>
          <p>
            The tradition of the how the Golden Throne of the Menri Trizin is chosen was established by Sherab Gyaltsen. The requirements are being from a Bön tradition, having learned the full extent of the systems of Sutra, Mantra, and Dzogchen, and having earned the title of Geshe. All the names are put in a golden vase. All the enlightened guardian deities possessing the eye of wisdom look with compassion and for seven days rituals are continuously performed. In this tradition, no decision is based on whether one is a Tulku or from a good or bad family, for this is an extraordinary quality of this great monastic center. 
          </p>
          <p>
            At the time of the indications of revolution in China, in Tibet, the external and internal workers of the monastery conferred and discussed how to protect the 32nd Menri Trizin Kudun Sherab Lotro Rinpoche (1935-1962) and finally decide to take him to India immediately and assembled a strong entourage. They took him secretly and they made it to India. Kudun Sherab Lotro died soon after they arrived. By the power of the unceasing enlightened activities of Nyamed Sherab Gyaltsen, once again the Golden Throne of the Second Buddha was received by the 33rd Menri Trizin Kyabje Lungtok Tenpai Nyima Rinpoche (born 1929) in 1969. The exiled Bön disciples completely established an offering place to the three secrets and the indestructible, blazing Yungdrung of the true nature was made firm in the Northern India province of Himachal Pradesh in Dolanji. 
          </p>
          <p>
            In 1970, Lungtok Tenpai Nyima, along with Yongdzin Tenzin Namdak built the monastic center of Palshenten Menri Ling in Dolanji. In 1977, many disciples came from all directions, congregating at the Bön dialectic school, headed by Lungtok Tenpai Nyima and Yongdzin Tenzin Namdak. By these two learned masters, many students grew up within their teachings. For many decades, Sutra, Tantra, and Dzogchen and the five fields of knowledge have been taught summer and winter continuously without rest. Accordingly, the three valid cognitions of the three kinds of objects of valid cognition are studied to refine one’s experience through great examination and many come to hold the degree of Geshe. These days, many Geshes all over the world teach the Bön of exposition and experience, leading many sentient beings on the excellent path of the Buddha’s teachings. 
          </p>
          
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  .header {
    @apply bg-gradient-to-l from-neutral-2 mx-10 mb-10 flex items-center justify-between rounded-b-md font-medium px-5 py-3;
  }

  p {
    @apply mb-3;
  }
</style>
