---
import tonpashenrabImg from '@images/tonpashenrab.jpg';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <div class="header">
      <a href="/about-us" class="c-neutral-6">back</a>
      <h1 class="text-4xl c-neutral-6">About us</h1>
    </div>
    <div class="px-10">
      <h2 class="mb-5 border-b-1 border-b-neutral-3 pb-2 text-2xl font-medium">
        Yundrung Bon
      </h2>
      <div class="flex gap-10">
        <aside class="w-1/4">
          <figure>
            <Image src={tonpashenrabImg} alt="Yundrung Bon" />
            <figcaption class="c-gray-5">
              pic. Buddha Tönpa Shenrab Miwoche, Founder of Yungdrung Bon
            </figcaption>
          </figure>
        </aside>
        <article class="w-3/4">
          <h3 class="font-bold">The Twelve Deeds of Tönpa Shenrab</h3>
          <ol>
            <li>
              <h4>The Deed of birth</h4>
              <p>
                The Buddha who revealed the way of the Yungdrung Bön, the
                Conqueror Shenrab Miwo, became the all-victorious one of reality
                itself by means of first generating the supreme mind of
                enlightenment. Between, he gathered the two accumulations for
                three countless eons. Finally, he actualized the state of a
                complete Buddha of the three bodies of enlightenment in the
                realm of Ogmin. From the five measures of seeing and the five
                measures of intention to display, he recognized the time to
                train all sentient beings. He took birth in Tagzig Olmolungring
                in the royal palace of Barpo Sogyed, as the son of his father
                Gyalpön Thödkar and mother Yochi Gyalzhadma on the first dawn of
                the fifteenth day of the first month of Fire Tiger of Spring in
                the Royal Wood Male Mouse year, under the Gyal star in the year
                16,017 B.C. The soothsayer Brahmin Salkhyab Öden checked the
                signs and recognized him as the chief Buddha guide, the all
                victorious one of reality and named him Tönpa Shenrab Miwo.
              </p>
              <p>
                After that, in the span of one human year he was a youth
                delighting in playfulness. Then he was cast and honored as the
                ruler of the entire world, established as the King of Murig
                Thrul, where he was enthroned as the ruler of the entire three
                realms.
              </p>
            </li>
            <li>
              <h4>The Deed of Propagating the Teaching</h4>
              <p>
                Then, between a period of twelve Shen years, 1200 human years,
                he taught his outer, inner, and secret retinues the nine stages
                of the vehicle of Bön; the four causal vehicles of Cha Shen, the
                Way of the Shen of Prediction which includes divination,
                astrology, various rituals, and medical diagnoses, Nang Shen,
                the Way of the Shen of the Phenomenal World, which includes
                rituals dealing with communication with external forces such as
                rituals of protection, invocation, ransom of the soul and
                life-force, and repelling harmful or negative energies, Thrul
                Shen, the Way of the Shen of Manifestation, which includes
                venerating a deity or master and then applying mantra or mudras
                in order to accomplish a goal such as requesting assistance from
                natural energies, and Sid Shen, the Way of the Shen of
                Existence, which is primarily focused upon rituals for the dead
                and methods to promote longevity for the living. The four
                resultant vehicles of Genyen, the Way of the Virtuous Lay
                Practitioner, which specifies the proper conduct of a lay person
                taking vows, Drangsong, the Way of the Fully Ordained, which
                specifies the proper conduct for those who are fully ordained
                practitioners, Akar, the Way of the White AH, which is primarily
                focused upon tantric practice using visualization, Yeshen, the
                Way of the Primordial Shen, which is primarily focused on higher
                tantric practice, and the vehicle of Yangste Lamed, The
                Unsurpassed Way, Dzogchen, which does not rely upon antidotes of
                any kind, ritual or practice with a meditational deity. It is
                concerned with the realization of the true nature of one's mind.
              </p>
              <p>
                At the Nine Stack Swastika Mountain he taught Malo, Yulo, along
                with the retinues of Yeshen, grammar and logic of Bön, and at
                the King's palace of Wangden Sadag he taught the outer, inner,
                and secret Kalachakra Tantra, astrology, and astronomy.
                Furthermore, in the realms of the gods, nagas, and humans he
                taught the small kinds of scriptures of Bön.
              </p>
            </li>
            <li>
              <h4>The Deed of Taming Beings</h4>
              <p>
                The supreme Mind of the Tönpa endowed with the two purities,
                without moving from the expanse of the nature of reality,
                emanated the enlightened teachers like the Dulshen, pacifying
                the six realms, Yeshen, bodhisattvas, the Thirty-Three Yendul,
                the Four Shen of the elements, the Shen of the ten directions,
                and the 100 million supreme emanations to Dzamling by which 100
                million were tamed.
              </p>
            </li>
            <li>
              <h4>The Deed of Leading Beings The realm</h4>
              <p>
                The realm of the world is tormented by very severe negativity
                and emotional afflictions of sexual attachment and craving, so
                having mercy upon those with hatred and great sin, he led the
                queen Guling Mati who was full of desire, Thrishi WangGyal who
                was full of pride, Halaratsa who was full of envy, Guwer Ratsa
                who was full of delusion, and so forth, completely taming those
                in whom the five poisons were very strong, placing countless
                sentient beings who were the most difficult to tame at the level
                beyond samsara of perfect Buddhahood.
              </p>
            </li>
            <li>
              <h4>The Deed of Marriage</h4>
              <p>
                Then, the King of the Gods Indra and so forth all requested
                Tönpa Shenrab to marry. As there was gossip that he was of
                neutral gender and would not continue the family line, to show
                that he was the same as humans he was married to ten emanations
                of Dakinis, Hö wife , Po wife, Lha wife, Naga wife, Kong wife,
                Chinese wife, Cha wife, Sè wife, Brahmin wife, and so forth,
                bringing happiness in this way. Also, kings, Brahmins, and many
                castes offered their fifty daughters, some of whom worked for
                the Queen, the Lady Minister, doing ablution, and as female
                servants, as well as those of Shag descent, Hö descent, Po
                descent, Gya descent who did rites to avert misfortune and
                negativity. There were the daughters of Nyen who were
                mistresses, presidents, bodyguards, astrologers, and
                entertainers of guests. There were the 360 wonderful, virtuous
                manifestations of Yumchenmo who were simply adorned being
                stainless, without sexual attachment, for they appeared as the
                skillful means of cutting sexual attachment for the males and
                females of samsara.
              </p>
            </li>
            <li>
              <h4>The Deed of Emanating Offspring</h4>
              <p>
                Although the body of the Buddha does not need progeny, in order
                to assure that the royal lineage remained unbroken and to
                benefit sentient beings, by the display of skillful means and
                wisdom, the emanations of Tönpa Shenrab’s lineage of close sons
                were born. From the Hö Princess Gyalmed, the two sons Tobu
                Bumsang and Chedbu Thrishe, from the Po Princess Thangmo, the
                two sons Lungdren Salwa and Gyüd Dren Drönma, from The Sè
                Princess Ngang Ring the son Oltrug Thangpo, from the Cha
                Princess Gungdrug, the king of the clan lineage Mucho Demdrug,
                from the Kong Princess Thrijam, the holder of the royal Mu
                lineage King’s son Yungdrung Wangden, and from the Chinese
                Princess Thrulgyur, the king’s son Kongtsha Thrulbu was born.
              </p>
              <p>
                At the time they were all born, the gods, nagas, and humans all
                performed song and dance and especially the god Brahma offered
                ablution. All of those sons from the Buddha Tönpa Shenrab
                himself first discussed and requested the teachings. Next, they
                were the custodians of the teachings. Finally, they compiled the
                teachings. By the compassion of his emanations, the teachings of
                Tönpa Shenrab will unceasingly benefit sentient beings.
                Furthermore, from the Hö Princess was born the daughter Shen
                Princess Neuchen and from the Po Princess was born the daughter
                Shen Princess Neuchung.
              </p>
            </li>
            <li>
              <h4>The Deed of Subduing Demons</h4>
              <p>
                The son of the Demon Gyalag Thodje, the Demon Khyabpa Lagring
                who resides in the direction of Tshangri in the region of Munpa
                Yungdrung Zerden, saw that his realm would be emptied by Tönpa
                Shenrab. So he displayed nine different magical feats to defeat
                Tönpa Shenrab. However, by skillful means, Tönpa Shenrab subdued
                them. The last, ninth miraculous manifestation waged war with
                hundreds of millions of fierce Demons who rained arrows and all
                varieties of weapons down upon Tönpa Shenrab. Nevertheless,
                Tönpa Shenrab transformed all the weapons into a shower of
                lotuses and then faith arose in the retinues of demons in Tönpa
                Shenrab and many became his students.
              </p>
              <p>
                Then, the Demons displayed various magical displays to Tönpa
                Shenrab and his retinue; however, by the blessing of Tönpa,
                great harm did not occur, but by the power of previous karma,
                while collecting flowers in a garden, the daughter Shen Princess
                Neuchung joined and followed the Demons. Tobu Bumsang and the Po
                mother Thangmo summoned and requested Tönpa Shenrab to go to the
                place of the Demons and rescue Neuchung. She had two Demon
                children, Thrugtag Buthung and Zigbuthung and they were all
                rescued.
              </p>
              <p>
                Then the seven sons of the Demon Thrug, Shorwa Gyadun, displayed
                a magical feat to get Shenrab’s wealth and stole Tönpa Shenrab’s
                seven horses and escaped to the region of Kongpo. Although Tönpa
                Shenrab was not attached to the horses, he saw this as a good
                sign for the Tibetan people to get teachings. He brought the
                Sinpo demons under his power and bound the haughty demons to
                sacred oath to protect the teachings. Then Tönpa Shenrab went
                after the horses. The gods and demons and so forth, and many
                sentient beings received him with prostrations and offerings.
                Also, at the place of Tsang there is a big wooded ravine where
                Tönpa placed cushions of lotus upon which he walked from Kongpo
                and defeated all the gathering of demons.
              </p>
              <p>
                For the next generation of sentient beings benefit, in Kongpo,
                he manifested from his Mind Bön Mountain and taught all the
                Tibetan Bönpos who were still doing such things as animal
                sacrifices, how to make smoke offerings to the gods and banish
                demons. He taught the causal Bön, about how to grow good crops
                and made aspiration prayers that eventually all the Nine Ways of
                Bön would spread in Tibet.
              </p>
            </li>
            <li>
              <h4>The Deed of Leaving and Establishing the Teaching</h4>
              <p>
                The Shak lineage king invited Tönpa Shenrab in order to benefit
                his people, and the Tönpa built God shrine houses and Dronma Gu,
                nine buildings, at which he taught the Nine Ways of Bön to
                students of Khate Muya and then told them to keep and spread the
                teachings. At another lineage king’s realm, Tönpa Shenrab gave a
                Body Representation statue and teachings and thereafter the
                teaching continued. The Chinese king Kongtse Thrul invited Tönpa
                Shenrab and built the God shrine house, the Illuminated Karnag
                Trasal, on an island in the sea after clearing all obstacles and
                empowered and consecrated it.
              </p>
              <p>
                Then together with Sidpa Sangpo Bumthri, the enlightened one of
                skillful means and wisdom, he taught the Nine Ways of Bön and
                the five of the Four Gates and the Treasury. He explained all
                the outer, inner, and secret scriptures and wrote volumes of
                scriptures in the five kinds of precious things. All of these
                scriptures were put in Karnag Trasal.
              </p>
            </li>
            <li>
              <h4>The Deed of Renunciation and Becoming a Monk</h4>
              <p>
                When Tönpa Shenrab was thirty-one Shen years old, 3,100 human
                years, by the great compassion of skillful means, in the four
                directions of the God Shrine Palace Thrimon Gyalzhed, he saw the
                four rivers of suffering of birth, aging, sickness, and death
                and by these conditions aroused the determination to be free of
                cyclic existence. He went in front of the stupa Namdag Karpo and
                cut his hair, renouncing the worldly life and became a monk.
                Then he took off his royal clothes and took all the things of a
                monk like the petal of lotus, the six monk’s clothes, five
                things that monks have and so forth. After, he went to the pure
                land of Ogmin and in front of the Sage Legden Gyalwa completely
                received all the Drangsong full monk precepts and was named
                Dezhin Shegpa Drajompa Yangdagpar Dzogpai Sangye Tönpa Thritsug
                Gyalwa.
              </p>
              <p>
                Then, at the God realm of the Thirty-Three Heaven, land of the
                Four Great Kings, and at Metokling, at the border of Oling, he
                performed the three ascetic practices of human, monkey, and
                bird. He turned the wheel of Bön for the king of the Demons
                Khyabpa and all of his countless retinues. To Yidkyi Khyeuchung
                and all the assembly of cloud-like retinues, he taught them the
                “Bön Khor Tshig Zhi”, Four Words of the Wheel of Bön, and all
                developed faith and promised to become monks. All the students
                were divided into four groups and eight individuals. Tönpa
                Thritsug Gyalwa was the Master and Yungdrung Tsugshen Gyalwe the
                preceptor, and A Zha lineage Sangwa Dodud was the witness, and
                all the students received monastic vows. Furthermore, he
                extensively taught the root and branch rules of the one day
                vows, layperson vows, novice monk, and full monk and all of the
                retinues conduct was appropriately disciplined according to the
                teachings of Bön.
              </p>
            </li>
            <li>
              <h4>The Deed of Abandoning Samsara in Solitude</h4>
              <p>
                Tönpa Shenrab went alone to a solitary place in a forest at the
                Nine Stack Swastika Mountain, abandoning the masses of
                distractions, remaining in retreat without contact with any
                others. To the Demon Khyabpa, who had become a monk, and Tobu
                Bumsang and so forth, to those with superior capacity, he taught
                the way of becoming Buddha in a single lifetime, the ultimate
                method of accomplishment of the single sphere, Dzogchen. To
                Shenza, his daughters, and so forth, to all those of lower
                capacity, he taught them the gradual path of spiritual practice,
                the conduct of lowest to the highest and the view of highest to
                lowest, what to adopt and abandon, and rebirth. Then, he taught
                the twelve sections of tantras of Dzogchen and so on.
              </p>
              <p>
                In the remote forest he built a hermitage. He practiced on
                islands, burial grounds, valleys, caves, alone like an injured
                animal. Solitary and undistracted, he obtained and demonstrated
                the ultimate meaning. Moreover, in a single lifetime through the
                unsurpassable accomplishment, he united the ultimate meaning of
                the view, meditation, and action and finally through
                interdependence he turned the wheel of Bön for the outer, inner,
                and secret retinues.
              </p>
            </li>
            <li>
              <h4>The Deed of Bringing the Virtuous to Completion</h4>
              <p>
                Then, to all the immeasurable retinues of Tönpa Shenrab, he
                taught that all the individuals and retinue, the self and other,
                do not truly exist, to penetrate the view from high to low, and
                to practice the conduct climbing from the bottom to the top. He
                taught that their basis should be great compassion and to
                practice the methods of the Ten Paramitas and to engage in the
                stages of the vehicles. Furthermore, he taught the way the eon
                arose and was created, the teaching of Bön in the future, the
                way the 32 major and 80 minor marks and positive qualities
                arise, and all the attainments of the training of Bön to the
                divisions of the one hundred million outer retinue, the two
                million intermediate retinue, the 1,600 inner retinue, and the
                3,500 of the secret retinue, the 5,500 personal attendant
                Yundrung Sempas, the 360 Yeshens, the eight emanated spiritual
                sons, and the gathering of the worldly beings. In order to
                accomplish the benefit of beings of the future, he expounded and
                passed all the teachings of Bön to them.
              </p>
            </li>
            <li>
              <h4>The Deed of Passing to Nirvana</h4>
              <p>
                Although the supreme Teacher Tönpa Shenrab is without birth or
                death, to teach as an example to sentient beings who grasp at
                impermanence as permanent, he exhibited the way of passing
                beyond sorrow. First, he showed the way of his body becoming
                sick and then all of his retinue was afraid. Tobu Bumsang did a
                ritual of longevity for him, Chebu and so forth performed
                medical treatments. In order to show the validity of
                conventional truth and trust in it, he became free from
                sickness. Then, his sickness became more severe and Yidkyi
                Khyeuchung, Malo, Yulo and so forth requested him not to pass to
                Nirvana. Tönpa Shenrab was in a state of joy at death, and said
                “I am not passing to Nirvana. Although phenomena disappear they
                are unchanging. In order to remove grasping at permanence, to
                show this I will pass to Nirvana one time.” In the eighty-second
                Shen year, 8,200 human years, on the thirtieth day in the first
                winter month of the Water Rabbit year, at the peak of the Nine
                Stack Swastika Mountain, his impermanent body passed beyond
                sorrow with innumerable great virtuous miraculous signs. All the
                retinues gathered and the monk Khyabpa set forth to invite the
                heart son A Zha Sangwa and vast offerings were made to the
                remains of the teacher. Then the four groups of retinues and
                eight individuals put the relics into a golden casket. The body
                was burnt and a ritual ceremony was conducted and vast offerings
                were made according to the text of the Eighteen Chapters. The
                relics multiplied and were divided respectively among the gods,
                humans, and nagas as their object of veneration and refuge.
              </p>
              <p>
                Here in this world in the age of the five degenerations, for the
                benefit of sentient beings, Tönpa Shenrab was born as a human,
                the eighth perfect Buddha savior. Thus ends this brief account
                of the deeds of the Buddha Tönpa Shenrab Miwo.
              </p>
            </li>
          </ol>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  .header {
    @apply bg-gradient-to-l from-neutral-2 mx-10 mb-10 flex items-center justify-between rounded-b-md font-medium px-5 py-3;
  }

  h3 {
    @apply mb-2 font-bold;
  }

  h4 {
    @apply mb-2 font-medium;
  }

  p {
    @apply mb-3;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-5;
  }
</style>
