---
interface Props {
  disabled?: boolean;
}

const { disabled } = Astro.props;
---

<button type="button" disabled={disabled}>
  <slot />
</button>

<style>
  button {
    @apply ml-5 rounded-lg px-15 py-3 text-xl font-bold bg-blue hover:bg-neutral-9 c-white transition-all;
  }

  button:disabled {
    @apply bg-neutral-4 cursor-not-allowed;
  }
</style>
