---
interface Props {
  id?: string;
  type?: 'button' | 'submit';
  mode?: 'primary' | 'secondary';
  className?: string;
}

const { id, type = 'button', mode = 'primary', className = '' } = Astro.props;
---

<button id={id} type={type} class:list={[mode, className]}><slot /></button>

<style>
  button {
    @apply inline-block rounded-lg px-5 md-px-15 py-3 md-text-xl font-bold c-white transition-all w-full md:w-auto;
  }

  .primary {
    @apply bg-blue hover:bg-darkblue;
  }

  .secondary {
    @apply bg-neutral-6 hover:bg-neutral-8;
  }
</style>
