---
const currentYear = new Date().getFullYear();
---

<footer class="mx-auto mb-5 max-w-screen-xl px-5">
  <p class="rounded-xl bg-blue p-5 text-center c-white">
    Copyright {currentYear} Akar Bon Center
  </p>
</footer>
