---
import loponImg from '@images/lopon.jpg';
import backgroundImage from '@images/menri.jpg';
import tapihritsaImg from '@images/tapihritsa.png';
import tengelekImg from '@images/tengelek.jpg';
import { Image } from 'astro:assets';
---

<header class="mx-auto mt-19 max-w-screen-xl px-5">
  <div class="bg-image min-h-md flex flex-col flex-justify-between rounded-2xl bg-cover p-5">
    <p class="img-row-one">
      <Image src={tapihritsaImg} class="mt--15 md:mt--10" alt="Akar Bon Center" />
    </p>
    <p class="img-row-two">
      <Image src={loponImg} class="img" alt="Lopon" />
      <Image src={tengelekImg} class="img" alt="Tengelek" />
    </p>
    <p class="mt-5 text-center text-xl c-white">
      Tha acumulations are completed in the base. The obscurations in the Path
      are purified. The fruit of Buddahood is actualized.
    </p>
  </div>
</header>

<style define:vars={{ backgroundImage: `url(${backgroundImage.src})` }}>
  .bg-image {
    background-image: var(--backgroundImage);
    @apply bg-cover bg-center;
  }

  .img {
    @apply border-2 border-white rounded-full shadow-lg;
  }

  .img-row-one {
    @apply flex justify-center;
  }

  .img-row-one img {
    @apply w-[150px] md:w-a;
  }

  .img-row-two {
    @apply flex justify-between mt--20 md:mt--70 lg:mx-20;
  }

  .img-row-two img {
    @apply w-[120px] md:w-a;
  }
</style>
