---
import AkarBonLogo from '@components/AkarBonLogo.astro';
---

<nav>
  <div class="wrapper">
    <a href="/" class="logo"><AkarBonLogo /></a>
    <ul>
      <li><a href="/about-us">About us</a></li>
      <li><a href="/teachings">Teachings</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <button><div class="i-mdi-menu" /></button>
  </div>
</nav>

<style>
  nav {
    @apply fixed w-full top-0 z-1;
  }

  .wrapper {
    @apply mx-auto max-w-screen-xl flex justify-between py-4 px-5 backdrop-blur bg-white bg-opacity-50;
  }

  ul {
    @apply hidden lg:flex items-center gap-10 text-xl;
  }

  li a {
    @apply hover:c-blue transition-all;
  }

  button {
    @apply lg:hidden px-2;
  }

  .i-mdi-menu {
    @apply text-3xl;
  }
</style>
