---
import AkarBonLogo from '@components/AkarBonLogo.astro';
---

<nav>
  <div class="wrapper">
    <div class="flex justify-between">
      <a href="/" class="logo"><AkarBonLogo /></a>
      <button class="menu-nav"><div class="i-mdi-menu" /></button>
    </div>
    <ul class="menu-links">
      <li><a href="/about-us">About us</a></li>
      <li><a href="/teachings">Teachings</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    @apply fixed w-full top-0 z-1;
  }

  .wrapper {
    @apply mx-auto max-w-screen-xl lg:flex justify-between py-4 px-10 backdrop-blur bg-white/50;
  }

  .menu-links {
    @apply hidden mt-5 lg:mt-0 lg:flex items-center gap-10 text-xl;
  }

  .menu-links.expanded {
    @apply block lg:hidden;
  }

  li {
    @apply py-2 lg:py-0 text-right;
  }

  li a {
    @apply hover:c-blue transition-all;
  }

  .menu-nav {
    @apply lg:hidden px-2;
  }

  .i-mdi-menu {
    @apply text-3xl;
  }
</style>
