---
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout title="Teachings">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="text-center">
      <h1 class="text-4xl font-medium">Teachings</h1>
    </div>
  </main>
</DefaultLayout>
