---
import EventCard from '@components/EventCard.astro';
import DefaultLayout from '@layouts/Default.astro';
import { getCollection } from 'astro:content';

const teachings = await getCollection('teachings');

const upcomingTeachings = teachings
  .filter(teaching => teaching.data.status === 'upcoming')
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );
const ongoingTeachings = teachings
  .filter(teaching => teaching.data.status === 'ongoing')
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );
const pastTeachings = teachings
  .filter(teaching => teaching.data.status === 'past')
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );
---

<DefaultLayout title="Teachings events">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div>
      <h1 class="text-center text-4xl font-medium">Teachings events</h1>
      <div class="grid my-10 gap-10 lg:grid-cols-3 md:grid-cols-2 sm:px-10">
        {[...upcomingTeachings, ...ongoingTeachings, ...pastTeachings].map(
          teaching => (
            <div>
              <EventCard eventData={teaching} />
            </div>
          ),
        )}
      </div>
    </div>
  </main>
</DefaultLayout>
