---
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout title="Teachings">
  <div class="text-center">
    <h1 class="text-4xl font-medium">Teachings</h1>
  </div>
</DefaultLayout>
