---
import type { CollectionEntry } from 'astro:content';
import EventCard from '@components/EventCard.astro';
import DefaultLayout from '@layouts/Default.astro';

interface Props {
  teachings: CollectionEntry<'teachings'>[];
}

const { teachings } = Astro.props;
---

<DefaultLayout title="Teachings events">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div>
      <h1 class="text-center text-4xl font-medium">Teachings events</h1>
      <div class="events">
        {teachings.map(teaching => (
          <div>
            <EventCard eventData={teaching} />
          </div>
        ))}
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply text-2xl font-medium;
  }

  .events {
    @apply grid lg:grid-cols-3 md:grid-cols-2 gap-10 my-10 sm:px-10;
  }
</style>
