---
import SubHeader from '@components/SubHeader.astro';
import kuntuzangpoImg from '@images/kuntuzangpo.png';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="Second Main Section: Tӧgal with Geshe Tenzin Gelek Rinpoche">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <SubHeader title="Teachings events" link="/teachings" />
    <div class="md:px-10">
      <header class="mb-10">
        <p class="mx-5 mb-1"><strong>Date:</strong> 19th of March 2024</p>
        <h1 class="flex flex-col rounded-lg bg-neutral-1 p-5">
          <span class="text-2xl text-xl">The Instruction Manual of the Stages of the Path of Clear Light Dzogpa Chenpo</span>
          <span class="my-2 text-lg text-xl font-bold">Second Main Section: Tӧgal with Geshe Tenzin Gelek Rinpoche</span>
          <span class="text-2xl text-3xl font-bold">Heart Drops of Küntu Zangpo</span>
        </h1>
        <p class="p-5 text-center md:text-right">
          <span class="mb-3 inline-block md:mr-5">Register for upcoming retreat</span>
          <a href="#" class="register inactive">Registration</a>
        </p>
      </header>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={kuntuzangpoImg} alt="The Lamp" />
          </figure>
        </aside>
        <article class="c-neutral-6 md:col-span-2">
          <div class="info">
            <ul class="border-l-5">
              <li>20 Sessions total</li>
              <li>starting 3/19/24 (Tuesday)</li>
              <li>10 Sessions - Every Tuesday & Thursday - 3/19 - 4/18</li>
              <li>10 Sessions - Every Tuesday & Thursday - 4/30 - 5/30</li>
              <li>6:00-8:00 pm ET via ZOOM</li>
            </ul>
          </div>
          <p class="py-10 text-center text-2xl c-neutral-6">***</p>
          <p>
            I will teach each of the forty-two secret essential points of the
            Tӧgal from Heart Drops of Küntu Zangpo, that are able to achieve the
            result of the three bodies of enlightenment in one life and one
            body, explained one by one as stated in the root text. Practitioners
            who have been seized by these special oral instructions will
            naturally purify all the appearances of saṃsāra, which are deluded
            appearances, and naturally seize the natural ground of awareness in
            the body of the great transference of the body in the space of the
            original purity of the ground." Geshe Gelek Therefore, Geshe Tenzin
            Gelek welcomes all fortunate disciples, wherever they are, who wish
            to engage properly in the practice of the Great Perfection of Tögal.
          </p>
          <p>
            Sessions include time for teaching, questions, answers, and guided
            group meditations.
          </p>
          <p>
            This material will be presented in a way that is open to those who
            are both brand new to learning Dzogchen and/or the Yungdrung Bön
            tradition and those who have practice experience.
          </p>
          <h2>
            Liberation Through Meditation: The Explanation of the Path of Thögal
          </h2>
          <p>Topic</p>
          <p>
            How Thögal Is Superior To Trekchö in Terms of Seven Essential
            Points.
          </p>
          <ol>
            <li>
              Establishing Certainty With the Essential Points of the Secret
              Instructions.
            </li>
            <li>The Essential Points of the Body, Speech, and Mind.</li>
            <li>The Essential Point of the Arising at the Door.</li>
            <li>The Essential Point of the Basis of Arising of the Objects</li>
            <li>The Essential Point of Slowing the Winds and Rigpa.</li>
            <li>The Four Special Great Channels.</li>
            <li>The Four Magical Lamps.</li>
            <li>Where the Rigpa, Abides.</li>
            <li>The Four Great Visions.</li>
            <li>The Five Primordial Wisdoms Are Actualized</li>
            <li>The Three Secret Syllables Are Displayed to the Mind.</li>
            <li>The Attaining Free Entrance.</li>
            <li>The Three Immoveables.</li>
            <li>Three Stabilities.</li>
            <li>The Four Attainments</li>
            <li>The Four Confidences</li>
            <li>The Four Wisdoms.</li>
          </ol>
          <p>
            This is all of the 42 essential points of the luminous Thögal
            practice, which was taught by Küntu Zangpo, and which the Khandromas
            bound them in coded verses. The past experts were not able to decode
            and explain them. I (Shardza Tashi Gyaltsen Rinpoche) have had the
            fortune to do this. Now Geshe Tenzin Gelek Rinpoche will give a
            clear and concise explanation of this topic, using the words of the
            text. Therefore, please consider this.
          </p>
          <p><i>Tashi Delek to all</i></p>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h2 {
    @apply my-5 text-xl font-bold;
  }

  article p {
    @apply mb-3;
  }

  article ol {
    @apply mb-3 list-decimal;
  }

  li {
    @apply ml-5;
  }

  .register {
    @apply inline-block rounded-lg px-15 py-3 text-xl font-medium bg-blue hover:bg-neutral-9 c-white transition-all w-full md:w-auto;
  }

  .register.inactive {
    @apply bg-neutral-4 cursor-not-allowed;
  }
</style>
