---
import SubHeader from '@components/SubHeader.astro';
import theLampImg from '@images/the-lamp.png';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <SubHeader title="teachings events" link="/teachings" />
    <div class="px-10">
      <header class="mb-10">
        <p class="mx-5 mb-1"><strong>Data:</strong> 10th of December 2024</p>
        <h1 class="flex flex-col rounded-lg bg-neutral-1 p-5">
          <span class="text-2xl">The secret instructions of the Six Lamps of the Dzogchen Zhang Zhung Nyengyü</span>
          <span class="text-xl font-bold">The Third Lamp</span>
          <span class="text-3xl font-bold">The Lamp of the Smooth White Channel</span>
        </h1>
        <p class="p-5 text-right">
          Register for upcoming retreat
          <button class="button">Registration</button>
        </p>
      </header>
      <div class="flex gap-10">
        <aside class="w-1/4">
          <figure>
            <Image src={theLampImg} alt="The Lamp" />
            <figcaption class="c-gray-5">
              pic. Buddha Tönpa Shenrab Miwoche, Founder of Yungdrung Bon
            </figcaption>
          </figure>
        </aside>
        <article class="w-3/4 c-neutral-6">
          <div class="info">
            <ul class="border-l-5">
              <li>10 Sessions total</li>
              <li><strong>starting 10th of December (Tuesday)</strong></li>
              <li>Sessions - Every Tuesday & Thursday</li>
              <li><strong>December 24th, there will be no teachings.</strong></li>
              <li>Donation: $200 USD</li>
              <li>6:00-7:30pm ET via ZOOM</li>
              <li><strong>*Payment plan options & limited scholarships available.</strong></li>
              <li>RECORDINGS AVAILABLE FOR ALL SESSIONS for one week after each session for those who can't participate live and for review</li>
            </ul>
          </div>
          <p class="py-10 text-center text-2xl c-neutral-6">***</p>
          <h2 class="mb-5 text-xl font-bold">
            The main points of the Third Lamp
          </h2>
          <p>The Lamp of the Smooth White Channel is the key instruction on the arising of all-pervasive primordial wisdom through the path of the central channel.</p>
          <ol>
            <li>1. How the body and mind are generated in the mother's womb through the five elements.</li>
            <li>2. How the three channels and six chakras are formed.</li>
            <li>3. How the five organs, five sense powers, the limbs and secondary limbs arise.</li>
            <li>4. How the branch channels and secondary channels divide.</li>
            <li>5. How Primordial Wisdom arises in the path of the central channel.</li>
          </ol>
          <p><i>Tashi Delek to all</i></p>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply mt-2 font-bold;
  }

  article p {
    @apply my-3;
  }

  artcle ol {
    @apply mb-3 list-decimal;
  }

  li {
    @apply ml-5;
  }

  button {
    @apply ml-5 rounded-lg px-15 py-3 text-xl font-bold bg-neutral-6 hover:bg-neutral-9 c-white transition-all;
  }
</style>
