---
import SubHeader from '@components/SubHeader.astro';
import theLampImg from '@images/the-lamp.png';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="The first Lamp">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <SubHeader title="teachings events" link="/teachings" />
    <div class="md:px-10">
      <header class="mb-10">
        <p class="mx-5 mb-1"><strong>Date:</strong> 19th of November 2024</p>
        <h1 class="flex flex-col rounded-lg bg-neutral-1 p-5">
          <span class="text-2xl text-xl">The secret instructions of the Six Lamps of the Dzogchen Zhang Zhung Nyengyü</span>
          <span class="my-2 text-lg text-xl font-bold">The first Lamp</span>
          <span class="text-2xl text-3xl font-bold">The Lamp of the Abiding Base</span>
        </h1>
        <p class="p-5 text-center md:text-right">
          <span class="mb-3 inline-block md:mr-5">Register for upcoming retreat</span>
          <a href="#" class="register inactive">Registration</a>
        </p>
      </header>
      <div class="grid gap-10 md:grid-cols-3">
        <aside>
          <figure>
            <Image src={theLampImg} alt="The Lamp" />
            <figcaption class="c-gray-5">
              pic. Buddha Tönpa Shenrab Miwoche, Founder of Yungdrung Bon
            </figcaption>
          </figure>
        </aside>
        <article class="c-neutral-6 md:col-span-2">
          <div class="info">
            <ul class="border-l-5">
              <li>20 Sessions total</li>
              <li><strong>starting 3th of September (Tuesday)</strong></li>
              <li>Sessions - Every Tuesday & Thursday</li>
              <li>6:00-7:300pm ET via ZOOM</li>
              <li><strong>*Payment plan options & limited scholarships available</strong></li>
            </ul>
          </div>
          <p class="py-10 text-center text-2xl c-neutral-6">***</p>
          <h2 class="mb-5 text-xl font-bold">
            The main points of the first lamp
          </h2>
          <p>Main subject</p>
          <p>
            A. The abiding mode of the essence of the base of the natural state
            of the mind.<br />
            B. The way cyclic existence and transcendence of suffering arise.
          </p>
          <h3>
            A 1. The abiding mode of the Essence of the Base of the Natural
            State of the mind
          </h3>
          <ol>
            <li>The universal ground it as primordial purity.</li>
            <li>
              The universal ground it as spontaneous present. The universal
              ground it as neutral.
            </li>
            <li>The universal ground it as the single sphere.</li>
          </ol>
          <h3>A 2. The abiding mode of Rigpa</h3>
          <ol>
            <li>The basis of arising of self-knowing Rigpa Wisdom.</li>
            <li>The essence of self-knowing Rigpa primordial wisdom.</li>
            <li>The dynamic energy of self-knowing Rigpa primordial wisdom.</li>
            <li>The synonyms of self-knowing Rigpa primordial wisdom.</li>
            <li>
              The way self-knowing Rigpa arises in the minds of sentient beings.
            </li>
            <li>
              That Rigpa primordial wisdom is the root source of cyclic
              existence and the transcendence of suffering.
            </li>
          </ol>
          <h3>A 3. Third, the mode of abiding of the Intellect</h3>
          <ol>
            <li>The basis of the arising of the Intellect.</li>
            <li>The essence of the Intellect.</li>
            <li>The synonyms of the Intellect.</li>
          </ol>
          <h3>
            B 1. The way cyclic existence and transcendence of suffering arise
          </h3>
          <ol>
            <li>How Küntu Zangpo was primordially awakened</li>
            <li>How the primordial wisdom of Rigpa arises</li>
            <li>How Rigpa attains freedom</li>
            <li>How the emanations of transcendence of suffering arise</li>
            <li>How sentient beings wander in cyclic existence</li>
            <li>How cyclic existence arises</li>
            <li>How karmic traces collect in the universal ground</li>
            <li>How the outer world arises from the mind.</li>
            <li>How sentient beings arise from the mind</li>
            <li>How cyclic existence arises from not recognizing Rigpa</li>
          </ol>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply mt-2 font-bold;
  }

  article p {
    @apply mb-3;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-5;
  }

  .register {
    @apply inline-block rounded-lg px-15 py-3 text-xl font-bold bg-blue hover:bg-neutral-9 c-white transition-all w-full md:w-auto;
  }

  .register.inactive {
    @apply bg-neutral-4 cursor-not-allowed;
  }
</style>
