---
import Button from '@components/Button.astro';
import SubHeader from '@components/SubHeader.astro';
import theLampImg from '@images/the-lamp.png';
import DefaultLayout from '@layouts/Default.astro';
import Image from 'astro/components/Image.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 pb-10">
    <SubHeader title="Teachings events" link="/teachings" />
    <div class="px-10">
      <header class="mb-10">
        <p class="mx-5 mb-1"><strong>Data:</strong> 19th of November 2024</p>
        <h1 class="flex flex-col rounded-lg bg-neutral-1 p-5">
          <span class="text-2xl">The secret instructions of the Six Lamps of the Dzogchen Zhang
            Zhung Nyengyü
          </span>
          <span class="text-xl font-bold">The Second Lamp</span>
          <span class="text-3xl font-bold">The Lamp of the Flesh Heart</span>
        </h1>
        <p class="p-5 text-right">
          Register for upcoming retreat
          <Button disabled>Registration</Button>
        </p>
      </header>
      <div class="flex gap-10">
        <aside class="w-1/4">
          <figure>
            <Image src={theLampImg} alt="The Lamp" />
            <figcaption class="c-gray-5">
              pic. Buddha Tönpa Shenrab Miwoche, Founder of Yungdrung Bon
            </figcaption>
          </figure>
        </aside>
        <article class="w-3/4 c-neutral-6">
          <div class="info">
            <ul class="border-l-5">
              <li>5 Sessions total</li>
              <li>starting 19th of November (Tuesday)</li>
              <li>Sessions - Every Tuesday & Thursday</li>
              <li>Donation: $100 USD</li>
              <li>6:00 - 7:30pm ET via ZOOM</li>
              <li>*Payment plan options & limited scholarships available</li>
              <li>
                RECORDINGS AVAILABLE FOR ALL SESSIONS for one week after each
                session for those who can't participate live and for review
              </li>
            </ul>
          </div>
          <p class="py-10 text-center text-2xl c-neutral-6">***</p>
          <h2 class="mb-5 text-xl font-bold">
            The main points of the Second lamp
          </h2>
          <p>The Lamp of the Flesh Heart, which is the essential point of where the base of self-knowing Rigpa is and how it arises within.</p>
          <ol>
            <li>The Universal Ground and Rigpa do not reach the limits of cyclic existence and transcendence of suffering</li>
            <li>The Way the Universal Ground and Rigpa Abide</li>
            <li>How the Universal Ground and Rigpa pervade the body</li>
            <li>How the Intellect Arises</li>
            <li>How the Body and Mind Combine and Separate</li>
          </ol>
          <p><i>Tashi Delek to all</i></p>
        </article>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply mt-2 font-bold;
  }

  article p {
    @apply mb-3;
  }

  article ol {
    @apply list-decimal mb-3;
  }

  li {
    @apply ml-5;
  }
</style>
